.radio_group{
  width: 280px;
  label{
    text-align: center;
    display: inline-block;
    color: #999;
    width: 56px;
    height: 25px;
    line-height: 25px;
  }
  .radioes {
    display: inline-block;
    color: #999;
    height: 25px;
    line-height: 25px;
  }
  .radio-wrap{
    margin-left: 15px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    .radio {
      position: relative;
      margin-right: 2px;
      float: left;
      padding: 0;
      width: 20px;
      height: 25px;
      background: url(/static/images/radio.png) no-repeat -1px 3px;
      .radio.selected {
        background-position: -55px 3px;
      }
      input[type=radio]{
        opacity: 0;
        position: absolute;
        width: 20px;
        height: 25px;
        display: block;
        padding: 0;
        margin: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      }
    }
  }
}
.radio{
  position: relative;
  margin-right: 2px;
  float: left;
  padding: 0;
  width: 20px;
  height: 25px;
  background: url(/static/images/radio.png) no-repeat -1px 3px;
}
.radio.selected {
  background-position: -55px 3px;
}
.radio input[type=radio]{
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 25px;
  display: block;
  padding: 0;
  margin: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}